<section class="albumDetail animated fadeIn ">
    <article class="background row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 columnMasc">
            <figure class="backgroundImage backgroundImageDelete"></figure>
        </div>
    </article>
    <h2 class="deleteHeader">You are going to delete   <img  class="musicLogo musicLogoDel" ng-src="{{ curAlbum.value.logoUrl || 'img/defaultLogo.png' }}" err-src="img/defaultLogo.png"
                alt="logo">  "{{curAlbum.value.title}}" album. Are you sure?</h2>
  
    <div class="deleteButtons">
        <button class="btn btn-default" ui-sref-opts="{reload: true}" ui-sref="mainList" ng-click="delAlbum()">Accept</button>
        <button class="btn btn-default btnMore" ng-click="goBack()">Cancel</button>
    </div>
    </div>
</section>