 <nav class="col-lg-2 col-md-2 col-sm-3 col-xs-0" ng-controller="RouterCtrl as router">
            <div class="classWithPad">
              <div class="sidebar-nav userSideBar">
                <div class="navbar navbar-default userNavbar">
                  <div class="navbar-header">
                    <ul class="nav navbar-nav asideNavbar">
                      <li ui-sref-active="active"><a ui-sref="mainList">Music List</a></li>
                      <li ui-sref-active="active"><a ui-sref="favorites">Favorites</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>