/*tablet  */
@media (max-width: 767px) { 
  .panel{
    margin: 15px 5px;
  }
    .buttons{
    display: none;
  }
  .icons{
    display: block;
  }
  /*edit/delete buttons  */
.tableHead>tr>th:first-child + th + th + th + th{
   width: 70px;   
}
  /*edit/delete buttons  */
.tableHead>tr>th:first-child + th + th + th{
   width: 80px;   
}
  .userSideBar {
    display: none;
  }

  .headerName {
    display: inline;
  }
    .navbar-brand {
    display: none ;
  }
  .form-group{
    margin-left: 60px;
  }
}
/*desktop  */
@media (min-width: 768px) {
  .buttons{
    display: block;
  }
  .icons{
    display: none;
  }

  .headerName,
  .arrowLeftMobile {
    display: none !important;
  }
  .arrowLeftMobile {
    display: none;
  }
  .headerName {
    display: none;
  }
  .MobileUserSideBar {
    display: none;
  } 
}
/*extra small  */
@media (max-width: 460px) {
  .mainRouter {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .detailLogo .musicLogoBig {
    width: 200px;
    height: auto;
    max-width: 100%;
}
  
}
/*bootstrap SM  */
@media (min-width: 768px) and (max-width: 992px) {
 .form-group{
    margin-left: 80px;
  }
}

